/* Inter Regular */
@font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    src: url('../Assets/Fonts/Inter/Inter-Regular.ttf') format('truetype');
  }
  
  /* Inter Medium */
  @font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    src: url('../Assets/Fonts/Inter/Inter-Medium.ttf') format('truetype');
  }
  
  /* Inter Semi-bold */
  @font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    src: url('../Assets/Fonts/Inter/Inter-SemiBold.ttf') format('truetype');
  }
  
  /* Inter Bold */
  @font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    src: url('../Assets/Fonts/Inter/Inter-Bold.ttf') format('truetype');
  }
  
 
  